{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "global-strict": false,
    "strict": false,
    "quotes": "single",
    "no-console": false
  },
  "globals": {
    "require": true,
    "module": true,
    "document": true,
    "console": true,
    "jest": true
  },
  "env": {
    "jasmine": true
  }
}
